.App {
  text-align: center;
}


.css-1tchuzz {
  width:100vw;
  overflow-x: hidden;
}

.alice-carousel {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.alice-carousel__wrapper{
  overflow: visible !important;
}
.alice-carousel__dots {
  display: flex !important;
}
.alice-carousel__dots-item {
  width: 20px !important;
  height: 6px !important;
  border-radius: 5px !important;
  margin-right: 5px !important;
  transition-duration: 0.2s;
  background-color: rgba(255,255,255,0.3) !important;

}
.alice-carousel__dots-item.__active {
    background-color: #FFA000 !important;
    width: 6px !important;
}
.alice-carousel__dots-item:hover {
  background-color: #FFA000 !important;
}
.carousel__dots {
  max-width: 100px !important;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
